:root {
    --main-color: 255, 255, 255;
}

body {
    margin: 0;
    background-color: black;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    background: linear-gradient(-135deg, #87005d, #ff4040); /*temporary test gradient, not final*/
    -webkit-transition: 4s;
    transition: 4s;
}

.background.fadein {
    opacity: 1;
}

/*Search Bar*/

.search-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.search {
    width: 50%;
    background: rgba(var(--main-color), 0.35);
    overflow: hidden;
    border-radius: 25px;
    z-index: 9999;
}

.search form input {
    border: none;
    background: transparent;
    font-size: 40px;
    outline: none;
    width: 100%;
    height: 50px;
    color: rgb(var(--main-color));
    text-align: center;
}

/*Waves*/

.waves {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.waves-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.wave {
    position: absolute;
    background: url(img/wave.svg) repeat-x;
    top: -198px;
    width: 6144px;
    height: 198px;
    animation: wave-move 11s cubic-bezier( 0.36,0.45,0.63,0.53) infinite;
}

.wave:nth-of-type(2) {
    top: -176px;
    animation: wave-move 11s cubic-bezier( 0.4,0.2,0.2,0.2) -.124s infinite, swell 11s ease -1.24s infinite;
}

/*Animation*/

@keyframes wave-move {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}