:root {
    --main-color: 255, 255, 255;
}

body {
    margin: 0;
    background-color: black;
    height: 100vh;
    font-family: Lato, sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    /*background: linear-gradient(-135deg, #87005d, #ff4040);*/ /*temporary test gradient, not final*/
    -webkit-transition: 4s;
    transition: 4s;
}

.background.fadein {
    opacity: 1;
}

/*Search Bar*/

.search-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.search {
    width: 0;
    background: transparent;
    overflow: hidden;
    border-radius: 25px;
    z-index: 3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.search:hover {
    background: rgba(var(--main-color), 0.2);
}

.search.fadein {
    background: rgba(var(--main-color), 0.35);
    
}

.search.fullwidth {
    width: 50vw;
}

.search.focused {
    border-radius: 15px;
    background: transparent;
    width: 100vw;
}

.search form input {
    border: none;
    background: transparent;
    font-size: 40px;
    outline: none;
    width: 100%;
    height: 50px;
    color: rgb(var(--main-color));
    text-align: center;
    font-family: Lato, sans-serif;
}

/*Menu*/

.menu {
    width: 250px;
    padding: 25px;
    right: 0;
    transform: translateX(100%);
    height: 100%;
    border-radius: 43px 0 0 0;
    top: 102px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
    background: rgba(var(--main-color), 0.1);
    backdrop-filter: blur(10px);
    z-index: 4;
    transition: 0.5s;
}

.menu.expanded {
    transform: translateX(0);
}

/*Menu Button*/

.menubutton {
    width: 0;
    height: 0;
    margin: 48px;
    position: fixed;
    right: 0;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 26px;
    z-index: 4;
    transition: 0.5s;
}

.menubutton:hover {
    width: 48px;
    height: 48px;
    margin: 25px;
    border: 2px solid rgba(var(--main-color), 0.25);
    cursor: pointer;
}

.menubutton.fadein {
    width: 48px;
    height: 48px;
    margin: 25px;
    border: 2px solid rgba(var(--main-color), 0.35);
}

.menubutton:active {
    border: 2px solid rgba(var(--main-color), 0.15);
}

/*Color Picker*/

.colorpicker {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    padding: 0;
}

.colorpicker-menu {
    background: black;
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(var(--main-color));
}

input::-webkit-color-swatch {
    border: 2px solid rgba(var(--main-color), 0.2);
    outline: none;
    border-radius: 24px;
    width: 100%;
    height: 90%;
}

input::-moz-color-swatch {
    border: 2px solid rgba(var(--main-color), 0.2);
    outline: none;
    border-radius: 24px;
    width: 100%;
    height: 100%;
}

/*Resets the colours to default*/

.resetbutton {
    text-align: center;
    padding: 15px;
    background-color: rgba(var(--main-color), 0.35);
    border-radius: 24px;
    color: rgb(var(--main-color));
    user-select: none;
    font-size: 18px;
    transition: 0.1s;
}

.resetbutton:hover {
    cursor: pointer;
}

.resetbutton:active {
    background-color: rgba(var(--main-color), 0.25);
}

/*Waves*/

.waves {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.waves-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.wave {
    position: absolute;
    background: url(img/wave.svg) repeat-x;
    top: -198px;
    width: 6144px;
    height: 198px;
    animation: wave-move 11s cubic-bezier( 0.36,0.45,0.63,0.53) infinite;
}

.wave:nth-of-type(2) {
    top: -176px;
    animation: wave-move 11s cubic-bezier( 0.4,0.2,0.2,0.2) -.124s infinite, swell 11s ease -1.24s infinite;
}

/*Animation*/

@keyframes wave-move {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}